.fixed{
    overflow: hidden;
    top: 10;
    width: 100%;
    display: block;
    transition: top 0.3s;
    color: rgb(174, 38, 38);
}
.fixed a {
    float: left;
    display: block;
    color: #1bbdc9;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .viewmenu{
    -webkit-font-smoothing: antialiased;
    text-size-adjust: 100%;
    font-family: "Hind",sans-serif;
    line-height: 1.5em;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    cursor: pointer;
    border-bottom: 1px solid;
    font-weight: 800;
    padding-bottom: 8px;
    text-transform: uppercase;
    color: #ddaa44;
    border-color: #ddaa44;
    
}
  