.fixed{
    overflow: hidden;
    top: 10;
    width: 100%;
    display: block;
    transition: top 0.3s;
    color: rgb(174, 38, 38);
}
.fixed a {
    float: left;
    display: block;
    color: #1bbdc9;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 17px;
  }
  

  